body {
  background-color: #1a1717;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
  border-right: 1px solid darkred;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: noen;
}
li a:hover:not(.active) {
  background-color: darkred;
}
.daimei {
  font-size: 65px;
  text-align: center;
}
.subtitle {
  font-size: 50px;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 3s;
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
p {
  background: -webkit-linear-gradient(
    top,
    #cccccc 0%,
    #990000 50%,
    #660033 51%,
    #440000 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.honnbunn {
  font-size: 35px;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 3s;
  color: aliceblue;
  position: absolute;
  top: 35%;
  left: 0%;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
